.header {
  background: #D84765; 
  color: #fff;
  margin-bottom: $m-size; 
  padding: $m-size 0;
  border-bottom: 20px solid white; 
}

// block element modifier (BEM)
.header__title {
  font-size: $l-size;
  text-align: center; 
}



@media (min-width: 45rem) {
  .header {
    margin-bottom: $xl-size
  }
}