
path {
  fill: #fff;
  stroke: #D84765;
  pointer-events: all;
  defaultFill: 20px, bold;
}

USAMap {
 width: 330;
}

path:hover {
  fill: #D84765;
  cursor: pointer;
}

.baby {
  width: 50px; 
  margin-top: $s-size;
  margin-bottom: 0; 
}

.average, .savings {
  width: 237px;
  height: 140px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  padding: 5px; 
  right: 30px;
  text-align: center;
  font: bold 14px/16px "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 6px 0px 0px #e6e6e6;
  box-shadow: 0px 6px 0px 0px #e6e6e6;
}

.average span.price, .savings span.price {
  font-size: 42px;
  line-height: 42px;
  display: block;
}

.average span.price { color: #D84765; }
.savings span.price { color: #355c7d; }

.average {
  top: 175px;
}

.savings {
  top: 356px;
}
