
path {
  fill: #fff;
  stroke: #D84765;
  stroke-width: 2;
  pointer-events: all;
  defaultFill: 20px, bold;
}

path:hover {
  fill: #D84765;
  cursor: pointer;
}

.credit {
  position: fixed;
  bottom: 5px;
  color: #fff;
  font-size: 9px;
}

.credit a {
  color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .credit { display: none; }  
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .clinics, .non-clinics { 
    margin: 0 auto;
  }  
}

.icon {
  width: 50px; 
  margin-top: $s-size;
  margin-bottom: 10px; 
}

.clinics, .non-clinics {
  width: 250px;
  height: 180px;
  background: #fff;
  border-radius: 4px;
  padding: 5px; 
  padding-top: 15px; 
  text-align: center;
  font: bold 14px/16px "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 6px 0px 0px #e6e6e6;
  box-shadow: 0px 6px 0px 0px #e6e6e6;
  margin: 25px; 
}

.clinics span.count, .non-clinics span.count {
  font-size: 42px;
  line-height: 42px;
  display: block;
  padding-top: 10px; 
}

.clinics span.count { color: #D84765; }
.non-clinics span.count { color: #355c7d; }
